<div class="landing-root">
  <div class="landing-header">
    <img src="assets/media/common/hallodoc-logo.svg" alt="HalloDoc" class="logo" />
  </div>
  <div class="landing-actions-bg">
    <img src="assets/media/auth/login-banner.png" alt="Background Illustration" />
  </div>
  <div class="landing-actions">
    <button mat-raised-button color="primary" class="landing-btn" (click)="goToRequestType()">Submit A Request</button>
    <button mat-raised-button color="accent" class="landing-btn" (click)="goToLogin()">Login</button>
  </div>
</div> 