<header class="header">
  <div class="header-main">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/media/common/hallodoc-logo.svg" alt="Doctors To You">
      </a>
    </div>

    <!-- Desktop User Section -->
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="user-section" *ngIf="isLoggedIn">
        <span class="welcome-text">Welcome {{ user.firstName }} {{ user.lastName }}</span>
        <button mat-button class="logout-btn" (click)="onLogout()">
          Logout
        </button>
      </div>
    </ng-container>

    <!-- Mobile Hamburger Menu -->
    <button mat-icon-button class="mobile-menu-btn" (click)="toggleDrawer()" *ngIf="isLoggedIn">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Desktop Navigation -->
  <ng-container *ngIf="currentUser$ | async as user">
    <nav class="nav-bar" *ngIf="isLoggedIn">
      <a 
        *ngFor="let item of getFilteredNavigationItems(user)" 
        mat-button 
        [routerLink]="item.route" 
        routerLinkActive="active"
      >
        {{item.label}}
      </a>
    </nav>
  </ng-container>

  <!-- Mobile Drawer -->
  <div class="mobile-drawer-overlay" *ngIf="isLoggedIn && isDrawerOpen" (click)="closeDrawer()"></div>
  <div class="mobile-drawer" [class.open]="isDrawerOpen" *ngIf="isLoggedIn">
    <div class="drawer-header">
      <div class="drawer-logo">
        <img src="assets/media/common/hallodoc-logo.svg" alt="Doctors To You">
      </div>
      <button mat-icon-button (click)="closeDrawer()" class="close-drawer-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="currentUser$ | async as user">
      <div class="drawer-user-info">
        <div class="user-avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="user-details">
          <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="user-email">{{ user.email }}</div>
        </div>
      </div>

      <div class="drawer-nav">
        <a 
          *ngFor="let item of getFilteredNavigationItems(user)" 
          class="drawer-nav-item" 
          [routerLink]="item.route" 
          routerLinkActive="active" 
          (click)="onNavClick()"
        >
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </a>
      </div>
    </ng-container>

    <div class="drawer-actions">
      <button mat-button class="drawer-logout-btn" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </div>
</header> 